<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Dapper" version="1.31" targetFramework="net40" />
  <package id="DapperExtensions" version="1.4.3" targetFramework="net40" />
  <package id="Google.GData.Client" version="2.2.0.0" targetFramework="net40" />
  <package id="Google.GData.Extensions" version="2.2.0.0" targetFramework="net40" />
  <package id="Google.GData.Spreadsheets" version="2.2.0.0" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net40" />
</packages>